body{
    background-color: gray;
   
}
.case-rouge{
    padding-top: 9%;
    color: black;
}

a{
    color: white;
}
.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}
  
.dm-serif-display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
}
#subtitle {
    font-size: 50px;
}
h2{
    font-size: 80px;
}
h3{
    font-size: 45px;
}
a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }
  